 <!-- Educational Interest Section -->
    <section id="edu-interest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Educational Interests</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<ul>
						<h4>
							<li>Math (Calc)</li>
							<li>Computer Science</li>
							<li>Design</li>
							<li>Tech Things</li>
						</h4>
					</ul>
                </div>
                <div class="col-lg-4">
                    <p>In the future, I'm planning on attending a university for a major in Computer Science, likely minoring in Electrical Engineering. I'm currently a junior at Hartland High School.  I will be graduating with the Hartland Class of 2020</p>
                </div> 
				<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://websiteLinkButtonHere" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
				-->
            </div>
        </div>
    </section>
