 <!-- Extra Curricular Section -->
    <section class="success" id="extra-curri">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Extracurricular Interests</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<ul>
						<h4>
							<li>The Orange Alliance</li>
							<li>Lighting Technician</li>
							<li>Robotics</li>
							<li>Electronic Tinkering & Programming</li>
						</h4>
					</ul>
                </div>
                <div class="col-lg-4">
                    <p>In my free time, I volunteer as a programmer for the Orange Alliance. I help develop a lot of back-end components.  I also work for Hartland Community Education as a lightning technician.  I participate as a part of FRC Team 1322 duruing the Official FRC season, as well as volunteering at a ton of events.  I also enjoy tinkering with electronics such as arduinos and ESPs.</p>
                </div> 
				
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/spzproductions/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Visit my LinkedIn
                    </a>
                </div>
				
            </div>
        </div>
    </section>
