 <!-- Extra Curricular Section -->
    <section class="success" id="extra-curri">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My Name is Soren Zaiser. I am a student in Michigan who spends a lot of time developing and tinkering with various electronics. I volunteer with FIRST in Michigan for A/V, running and providing remote support to FiM FRC and FTC all over Michigan. Additionally, I am the current Lead Developer at The Orange Alliance.</p>
                </div>
                <div class="col-lg-4">
                    <p>I was enrolled in Hartland High School's Digital Content Design course taught by Ms. Lhota.  In this class, we learned the basic principals of design. We also learned the basics of several Adobe applications, including Photoshop, InDesign, and Illustrator.  This portfolio website was one of the final projects.</p>
                </div> 
				<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://websiteLinkButtonHere" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
				-->
            </div>
        </div>
    </section>
